<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <script src="https://js.tosspayments.com/v2/standard"></script>
    <style>
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<!-- 사용자 입력 폼 -->
<div class="form-group">
    <label for="customerEmail">이메일:</label>
    <input type="email" id="customerEmail" placeholder="결제 정보를 받을 이메일을 입력하세요" required>
</div>
<div class="form-group">
    <label for="customerMobilePhone">전화번호:</label>
    <input type="tel" id="customerMobilePhone" placeholder="결제 정보를 받을 전화번호를 입력하세요" required>
</div>
<!-- 결제 UI -->
<div id="payment-method"></div>
<!-- 이용약관 UI -->
<div id="agreement"></div>
<!-- 결제하기 버튼 -->
<button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>

<script>
    main();

    async function main() {
        const isBlocked = [[${isBlocked}]];

        if(isBlocked)
            window.location.href = `/checkout/fail?message=Order failed due to insufficient stock&code=STOCK_SHORTAGE`;

        const button = document.getElementById("payment-button");
        // ------  결제위젯 초기화 ------
        const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
        const tossPayments = TossPayments(clientKey);
        // 회원 결제
        const customerKey = "H4zvzZljGjN1158u2gMrY";
        const widgets = tossPayments.widgets({
            customerKey,
        });
        // ------ 주문의 결제 금액 설정 ------
        await widgets.setAmount({
            currency: "KRW",
            value: [[${amount}]]
        });

        await Promise.all([
            // ------  결제 UI 렌더링 ------
            widgets.renderPaymentMethods({
                selector: "#payment-method",
                variantKey: "DEFAULT",
            }),
            // ------  이용약관 UI 렌더링 ------
            widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
        ]);

        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        button.addEventListener("click", async function () {
            const email = document.getElementById("customerEmail").value;
            const phone = document.getElementById("customerMobilePhone").value;

            if (!email || !phone) {
                alert("이메일과 전화번호를 모두 입력해주세요.");
                return;
            }

            await widgets.requestPayment({
                orderId: "[[${orderId}]]",
                orderName: "[[${orderName}]]",
                successUrl: window.location.origin + "/checkout/success",
                failUrl: window.location.origin + "/checkout/fail",
                customerEmail: email,
                customerName: "[[${userId}]]",
                customerMobilePhone: phone,
            });
        });
    }
</script>
</body>
</html>

